/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.caret-right:before {
    content: "\003e";
    float: none;
    cursor: pointer;
}

.caret-down:before {
    content: "\003e";
    float: none;
    cursor: pointer;
}

span.caret-down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carat-remove:before {
    content: "\00d7";
    float: none;
    cursor: pointer;
}

.button {
    margin: 0;
    color: #ffffff;
    background-color: #369;
    border: 1px solid #369;
    font-size: 14px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    justify-content: space-evenly;
    width: 38em;
}