<div class="container">
    <div class="selector-wrapper">
        <div class="filter__container">
            <input class="selector__filter filter input-text" autocomplete="off" type="text" (input)="onFilter($event)">
            <span class="selector__filter-icon filter__icon search">

                &#9906;

            </span>
        </div>
        <div class="selector">
            <ul class="selector__container" *ngIf="getRootNode()">
                <app-selector-node *ngFor="let node of getRootNode()" [node]="node"> {{node}}</app-selector-node>
            </ul>
        </div>
    </div>
    <div class="selector__item-list-container">
        <app-item-list-container></app-item-list-container>
    </div>
</div>
<div class="selector-component__footer-container container">
    <button class="button selector-component__button--save" (click)="triggerSave($event)">Done</button>
</div>