.selector {
    width: 20em;
    display: block;
    height: 200px;
}

.selector__container {
    padding: 0;
}

.selector-wrapper {
    height: inherit;
    overflow: auto;
}

.selector .selector__container {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: .25em;
    white-space: nowrap;
}

.selector__item-list-container {
    border-left: 1px solid black;
    width: 20em;
    overflow: auto;
}

.filter__container {
    padding: 0.429em 0.857em 0.429em 0.857em;
    border-bottom: 1px solid #eaeaea;
    color: #333333;
    background-color: #ffffff;
    position: relative;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.input-text {
    width: 100%;
    padding-right: 2em;
}

.filter__icon {
    top: 50%;
    margin-top: -11.9px;
    right: 1.357em;
    color: #369;
    font-weight: bold;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.selector-component__footer-container {
    border-top: 0;
    justify-content: flex-end;
}

.selector-component__button--save {
    margin: 4px;
}