<div class="selector-node__wrapper">
    <ul class="selector-node-list">
        <li *ngFor="let node of nodeList; let i = index" class="selector-node__list-item">
            <div class="selector-node__list-item__container">
                <span class="selector-node__content label">{{node.label}}</span>
                <span class="selector-node__content carat-remove" (click)="removeNodeFromList($event, i, node)">
                </span>
            </div>
        </li>
    </ul>
</div>