.selector-node__list-item__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border-bottom: 1px solid rgb(166, 166, 166);
}

.selector-node-list {
    padding: 0em 1em;
    vertical-align: middle;
    border: 1px solid transparent;
}

.selector-node__list-item {
    list-style: none;
}