<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{ title }}
    </h1>
</div>

<div class="component">
    <div class="component__button">
        <button class="button" (click)=onTriggerClick()>Trigger</button>
    </div>
    <div class="component__selector" *ngIf="trigger">
        <app-selector [value]="data"></app-selector>
    </div>
</div>