.selector-node {
    list-style: none;
    border: 1px solid grey;
    margin: 1px;
}

.selector-node__content {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.143em 0 0;
    color: black;
}

.selector-node .selector-node__children {
    margin: 0;
    padding: 0 0 0 1em;
}

.selector-node__child {
    border: 1px solid transparent;
}

.selector-node>div>span {
    padding: 2px;
}

.selector-node>div {
    cursor: pointer;
}