<ng-template [ngIf]="node">
    <li class="selector-node selector" [ngClass]="{'selector-node__child':!node.children}">
        <div class="selector-node__container" (click)="onNodeClick($event)">
            <span class="selector-node__toggler caret-right selector-node__content" [ngClass]="{'caret-right':!node.expanded&&node.children,'caret-down':node.expanded&&node.children}" (click)="toggle($event)"></span>
            <span class="selector-node__content">{{node.label}}</span>
        </div>
        <ul class="selector-node__children" style="display: none;" *ngIf="node.expanded" [style.display]="node.expanded ? 'block' : 'none'" role="group">
            <app-selector-node *ngFor="let node of node.children" [node]="node"> </app-selector-node>
        </ul>
    </li>
</ng-template>